

.titulopagina {
    width: auto;
    height: auto;
}
.cabecalho {
    color:black;
}
.outroCabecalho {
    color:darkgrey;
}
.logo {
    width: 200px;
}
#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}
.invisivel{
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
body {
    padding-top: 70px;
}
