@{ Layout = null; }
<DOCTYPE html>
    <html>
    <head>
        <title> Mundo Dos Jogos</title>
        <meta charset="utf-8">
        <link rel="icon" href="~/Content/IMG/favicon.ico">
        <link rel="stylesheet" href="~/Content/Css/Reset.css">
        <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/Css/Style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
        <script src="~/JQuery/jquery/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="loginBox ">
            <img src="~/Content/IMG/user.png" class="user">
            <h2>Cadastre-se!</h2>
            <form action="/Cadastro/Cadastra" id="FormCadastro" method="post">
                <p id="nome">Nome</p>
                <input type="text" id="nometexto" name="usuario.Nome" placeholder="Nome completo">
                <p>Data de nascimento</p>
                <input type="date" name="usuario.DataDeNascimento" max="2000-12-31" required>
                <p>Email</p>
                <input type="email" name="usuario.Email" placeholder="Insira seu email" required />
                <p>Senha</p>
                <input id="password" type="password" name="usuario.Senha" placeholder="●●●●●●●●" required pattern="[a-zA-Z0-9]+" minlength="6" maxlength="10">
                <p>Confirmar senha</p>
                <input id="confirm_password " type="password" name="confirm_password" placeholder="●●●●●●●●" required pattern="[a-zA-Z0-9]+" minlength="6" maxlength="10">

                <input type="submit" id="botao" name="id" value="Cadastrar" />
            </form>
        </div>
    </body>
</html>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/JQuery/jquery/form.js"></script>
<script>

    $(document).ready(function () {
        var nomeBotao = document.querySelector("#botao");
        nomeBotao.addEventListener("click", function (event) {
            event.preventDefault();
            if ($("#nometexto").val() == "") {
                alert("Nome vazio!!!");
                return;
            }

            var senha = $("#password").val();
            if (senha.length < 6 || senha.length > 12) {
                alert("Senha incorreta");
                return;
            }

            var existe = false;

            var url = "@Url.Action("VerificaNomeBD", "Cadastro")";
            var params = { nome: $("#nometexto").val() };
            $.ajax(url, { data: params, method: "POST" }).done(function (data) {
                if (data.existe) {
                    alert("Nome já existe.");
                    existe = true;
                }
                if (existe) return;
                $("#FormCadastro").submit();
            })
            /*
            $.post(
                url,
                params,
                function (resposta) {
                    if (resposta.existe) {
                        alert("Nome já existe.");
                        existe = true;
                    }
                },
                async: false));
            alert(existe);
            if (existe) return;

            $("#FormCadastro").submit();*/
        });
    });

    $("#username").focus(function () {
        var firstname = $("#firstname").val();
        var lastname = $("#lastname").val();
        if (firstname && lastname && !this.value) {
            this.value = firstname + "." + lastname;
        }
    });
</script>