
@{
    ViewBag.Title = "Adiciona";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<html>
<head>
    <body>
        <div>
            <h1>Produto adicionado com sucesso!</h1>
        </div>
    </body>
</head>
</html>

